<section class="about">
  <article class="about__block card">
    <h3 class="section-title">À propos de Karl DUPUY</h3>
    <p>
      Je m'appelle Karl Dupuy, je suis photographe et vidéaste basé à Rennes,
      non seulement spécialisé dans la capture de
      <em class="highlight">moments authentiques</em> et la création de contenus
      visuels percutants, je vous propose un
      <em class="highlight">accompagnement et un suivi</em>, afin de vous aider à
      maîtriser votre image.
    </p>

    <h2>Biographie</h2>
    <p>
      Avec plusieurs années d'expérience dans le domaine de la photographie, de
      la vidéographie et de la création de contenus en ligne, j'ai travaillé sur
      une variété de projets allant de l'accompagnement d'influenceurs, à la
      photo de portrait, aux événements en passant par l'immobilier.
    </p>

    <h2>Philosophie</h2>
    <p>
      Je crois en l'importance de
      <em class="highlight">raconter des histoires</em> à travers les images, en
      capturant non seulement l'apparence extérieure mais aussi
      <em class="highlight">l'essence intérieure</em> de mes sujets.
    </p>
  </article>

  <article class="about__block card">
    <h3 class="section-title">Objectifs et missions</h3>
    <p>
      Mon objectif est de fournir à mes clients des images et des vidéos qui non
      seulement répondent à leurs besoins mais dépassent leurs attentes. Je
      m'engage à offrir un service personnalisé, en travaillant en étroite
      collaboration avec chaque client pour comprendre leur vision et la
      concrétiser à travers mon travail.
    </p>
  </article>

  <article class="about__block card">
    <h3 class="section-title">Valeurs et engagements</h3>
    <p>
      Je m'engage à maintenir les plus hauts standards de qualité dans tout ce
      que je fais, en utilisant des équipements de pointe et en restant à jour
      avec les dernières tendances et techniques dans le domaine de la
      photographie et de la vidéographie. Je valorise la créativité,
      l'authenticité et la satisfaction du client, et je m'efforce de construire
      des relations durables basées sur la confiance et le respect mutuel.
    </p>
  </article>
</section>
